.Chat-Message {
  display: flex;
  justify-content: flex-start;
  align-content:center;
  flex-direction: row;
  vertical-align: middle;
}

.Message {
  flex: 1;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Annotation {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}

.Vote {
  height: 40px;
}

.emoticon {
  height: 24px;
  width: auto;
}
