.Chat-Message {
  display: flex;
  justify-content: flex-start;
  align-content:center;
  flex-direction: row;
  vertical-align: middle;
  transition: all 0.2s;
}
.Chat-Message:hover {
  background-color: rgb(238, 238, 238);
}

.Message {
  flex: 1;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Message:hover {
  height: 40px;
  line-height: 20px;
  white-space: normal;
  overflow: auto;
  text-overflow: inherit;
}

.Annotation {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}

.Vote {
  height: 40px;
}

.emoticon {
  height: 24px;
  width: auto;
}
