.App {
}

.Content {
  margin: 1.5rem;
}

.container-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  margin: 8px;
}

@media (min-width: 800px) {
  .container {
    width: 800px;
  }
}
@media (max-width: 799px) {
  .container {
    width: 100%;
  }
}

.pagination {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination li {
  text-align: center;
  cursor: pointer;
  flex: 1;
  display: inline-block;
}

.pagination li.active {
  font-size: larger;
  font-weight: bold;
}

.pagination li.previous {
}
.pagination li.next {
}

.pagination li a {
  width: 100%;
  display: inline-block;
}
