.App {

}

.Content {
  margin: 1.5rem;
}

.Chat {
  display: flex;
  flex-direction: column-reverse;
}

.Chat-Message {
  display: flex;
  justify-content: flex-start;
  align-content:center;
  flex-direction: row;
  vertical-align: middle;
}

.Username {
  /*display: inline-block;
  width: 100px;
  overflow: hidden;
  text-align: right;
  vertical-align: middle;*/
}

.Message {
  height: 38px;
  line-height: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
